<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">
  <!-- Package visibility (API 30+) so ACTION_GET_CONTENT / gallery apps resolve. -->
  <queries>
    <intent>
      <action android:name="android.intent.action.GET_CONTENT" />
      <data android:mimeType="image/*" />
    </intent>
    <intent>
      <action android:name="android.intent.action.PICK" />
      <data android:mimeType="image/*" />
    </intent>
  </queries>
</manifest>
